:host ::ng-deep .custom {

    @media(max-width: 780px) {
        overflow-y: hidden;
        max-width: 100%;
    }

    .table-list {

        @media(max-width: 780px) {
            width: 680px;
            padding: 10px;
        }

        table {
            min-width: 100%;

            tbody {

                tr {
                    transition: ease-in-out 200ms;

                    &:hover {
                        background-color: #fff7fa;

                        .mat-cell {
                            color: #ff4081;
                        }
                    }
                }
            }
        }
    }

}