<mat-toolbar>

    <mat-toolbar-row>

        <a class="btn-toolbar" routerLink="/lauches" routerLinkActive="active">Lançamentos</a>

        <span class="example-spacer"></span>

        <a class="btn-toolbar" routerLink="/categorys" routerLinkActive="active">Categorias</a>

    </mat-toolbar-row>

</mat-toolbar>

<div class="list-categorys">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1>Categorias</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-2">
                <button mat-stroked-button color="accent" (click)="newCategorys()">
                    Adcionar categoria
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-table-list [dataSource]="dataSource" [tableHeader]="tableHeader" (view)="viewCategorys($event)"
                    (edit)="editCategorys($event)" (delete)="deleteCategorys($event)"></app-table-list>
            </div>
        </div>
    </div>
</div>