.register-lauches {
    margin-top: 50px;

    .form {

        .form-field {
            width: 100%;
        }
    }

    .button-row {

        button {
            padding: 4px 25px;
            margin-right: 10px;
        }
    }
}