<div class="register-lauches">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form" [formGroup]="registerLauche">

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Descrição</mat-label>
                        <input matInput placeholder="Descrição" formControlName="description">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Data</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Selecione uma categoria</mat-label>
                        <mat-select [disabled]="!listCategorys" formControlName="category">
                            <mat-option [value]="options.id" *ngFor="let options of listCategorys">{{ options.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput placeholder="Valor" formControlName="value" numbersOnly>
                    </mat-form-field>


                    <div class="button-row">
                        <button mat-stroked-button color="primary" (click)="backPage()">Voltar</button>
                        <button mat-stroked-button color="accent" [disabled]="registerLauche.invalid" (click)="register()">Salvar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>