<div class="list-lauches">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Lançamentos</h1>
            </div>
            <div class="col-12 mb-2">

                <button mat-stroked-button color="accent" (click)="newLauche()">
                    Adcionar lançamento
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-table-list [dataSource]="dataSource" [tableHeader]="tableHeader"
                    (reloadTable)="reloadeTablelist($event)"></app-table-list>
            </div>
        </div>
    </div>
</div>